.card-img-top {
    margin-bottom: 5px;
    border: black solid 1px;
}

#card-image {
    margin-bottom: 1.5em;
}

nav {
    margin-bottom: 3em;
}

.card-text {
    margin: 1em;
}

.right-btn {
    display: inline;
    float: right;
    margin-left: 0.4em;
}

.flash-text {
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 5px;
}

#show-list {
    margin-bottom: 1em;
}
